form .custom-select {

  &__control {
    background: #EFEFF4;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    min-height: 30px;
  }
  
  &__placeholder {
    color: #ABABB7;
  }

  &__indicator-separator {
    display: none;
  }

  &__indicator {
    padding: 4px 8px;
  }

  &__menu {
    margin-top: 4px;
  }
}