.offer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;

  @media(max-width: 768px){
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  
  @media(max-width: 576px){
    gap: 15px;
    padding: 15px 0;
  }
}