.date {
  display: flex;
  align-items: center;
  gap: 10px;
  
  &__selects {
    @extend .date;
  }

  &__wrapper {
    position: relative;
  }

  &__btn {
    border: 1px solid #D5D5E0;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 20px;
  }
  
  &__picker {
    position: absolute;
    top: 100%;
    right: 0;
    transform: scale(0);
    transition: 0.5s;
    transform-origin: 100% 0;
    z-index: 10;

    &.active {
      transform: scale(1);
    }
  }


}