$img: 10px;

.slide {
  padding: 0 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;

  &__title {
    font-size: 25px;
    font-weight: 500;
    color: var(--title);
  }

  &__desc {
    font-size: 12px;
    color: #696970;
    display: grid;
    grid-template-columns: $img 1fr;
    gap: 5px;
    align-items: start;
  }

  &__img {
    width: $img;
    margin-top: 2px;
  }
}