@use './fonts.scss';

:root {
  --font-base: 'Noah';
  --body: #EFF2FB;
  --color: #636368;
  --title: #00237E;
  --active: #02C463;
  --check: url('../assets/check-off.svg')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-base);
  background: var(--body);
  color: var(--color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
  color: inherit;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  @media(max-width: 1200px){
    max-width: 960px;
  }
  @media(max-width: 992px){
    max-width: 720px;
  }
  @media(max-width: 768px){
    max-width: 540px;
  }
  @media(max-width: 576px){
    max-width: 100%;
  }
}

